@width_content: 1170px;
@padding_sec: 80px;


.dimensions(@width,@height) {
    width: @width;
    min-height: @height;  
}

.container {
    max-width: 1920px;
    min-height: 6970px;
    margin: auto;
    text-align: center;
}

header {
    min-height: 1024px;
    background-image: url(../img/header_cover.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    color: #ffffff;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    text-decoration: none;
    svg {
        fill: #ffffff;
    }
    &_txt {
        font-size: 34px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: right;
    }
    &:hover .logo_txt {
        color: #c7b299;
    }
    &:hover svg {
        fill: #c7b299;
    }
    &:active .logo_txt {
        color: #000000;
    }
    &:active svg {
        fill: #000000;
    }
}

.main_menu {
    margin: 0 63px 0 0;
    display: flex;
    width: 637px;
    justify-content: space-between;
    &_item {
        list-style-type: none;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
        &:hover {
            color: #c7b299;
        }
        &:active {
            color: #000;
            font-weight: 600;
        }
    }
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: @width_content;
    margin: auto;
    padding: 40px 0 0 0;
    &_wrp {
        display: flex;
        align-items: center;
        height: 42px;
    }
    &_notebook_btn {
        background-color: transparent;
        border: none;
        fill: #ffffff;
        &:hover {
            cursor: pointer;
            fill:rgb(199, 178, 153);
        }
        &:active {
            fill: #000;
        }
        &:focus {
            outline: none;
        }
    }
    &_content {
        min-height: 260px;
    }

    form {
        position: relative;
        //z-index: 10;
    }

    .search_input {
        position: absolute;
        top: -15px;
        left: 16px;
        padding: 7px 30px 7px 7px;
        box-sizing: border-box;
        width: 48px;
        border: none;
        color: #c7b299;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300; 
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.762,22.681 L17.569,16.586 C19.190,14.825 20.187,12.494 20.187,9.929 C20.186,4.443 15.668,-0.002 10.093,-0.002 C4.519,-0.002 0.001,4.443 0.001,9.929 C0.001,15.416 4.519,19.862 10.093,19.862 C12.502,19.862 14.711,19.028 16.446,17.644 L22.663,23.763 C22.966,24.062 23.458,24.062 23.761,23.763 C24.065,23.464 24.065,22.979 23.762,22.681 ZM10.093,18.334 C5.377,18.334 1.553,14.572 1.553,9.929 C1.553,5.288 5.377,1.525 10.093,1.525 C14.810,1.525 18.633,5.288 18.633,9.929 C18.633,14.572 14.810,18.334 10.093,18.334 Z' fill-rule='nonezero' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 4px 3px;      
        &:hover {
            cursor: pointer;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.762,22.681 L17.569,16.586 C19.190,14.825 20.187,12.494 20.187,9.929 C20.186,4.443 15.668,-0.002 10.093,-0.002 C4.519,-0.002 0.001,4.443 0.001,9.929 C0.001,15.416 4.519,19.862 10.093,19.862 C12.502,19.862 14.711,19.028 16.446,17.644 L22.663,23.763 C22.966,24.062 23.458,24.062 23.761,23.763 C24.065,23.464 24.065,22.979 23.762,22.681 ZM10.093,18.334 C5.377,18.334 1.553,14.572 1.553,9.929 C1.553,5.288 5.377,1.525 10.093,1.525 C14.810,1.525 18.633,5.288 18.633,9.929 C18.633,14.572 14.810,18.334 10.093,18.334 Z' fill-rule='nonezero' fill='rgb(199, 178, 153)'/%3E%3C/svg%3E");           
        }
        &:focus {
            width: 170px;
            transition: width 0.5s ease-out;
            border: 1px solid rgb(199, 178, 153);
            outline: none;
            border-radius: 8px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.762,22.681 L17.569,16.586 C19.190,14.825 20.187,12.494 20.187,9.929 C20.186,4.443 15.668,-0.002 10.093,-0.002 C4.519,-0.002 0.001,4.443 0.001,9.929 C0.001,15.416 4.519,19.862 10.093,19.862 C12.502,19.862 14.711,19.028 16.446,17.644 L22.663,23.763 C22.966,24.062 23.458,24.062 23.761,23.763 C24.065,23.464 24.065,22.979 23.762,22.681 ZM10.093,18.334 C5.377,18.334 1.553,14.572 1.553,9.929 C1.553,5.288 5.377,1.525 10.093,1.525 C14.810,1.525 18.633,5.288 18.633,9.929 C18.633,14.572 14.810,18.334 10.093,18.334 Z' fill-rule='nonezero' fill='rgb(199, 178, 153)'/%3E%3C/svg%3E"); 
            background-position: right;
        }
    }
}        
.header_content {
    display: flex;
    .dimensions(593px, 824px);
    align-items: center;
    margin: auto;
    &_arrow {
        display: block;
        position: relative;
        &:first-child::before {
            content: "";
            .dimensions(40px, 40px);
            top: 130px;
            left: -500px;
            transform: rotate(45deg);
            position: absolute;
            border-left: 2px solid #d3c1ad;
            border-bottom: 2px solid #d3c1ad;
        }

        &:first-child:hover::before {
            border-left: 2px solid #000000;
            border-bottom: 2px solid #000000;
        }
        &:first-child:active::before {
            border-left: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
        }

        &:last-child::after {
            content: "";
            .dimensions(40px, 40px);
            top: -144px;
            left: 1060px;
            transform: rotate(45deg);
            position: absolute;
            border-top: 2px solid #d3c1ad;
            border-right: 2px solid #d3c1ad;
        }
        &:last-child:hover::after {
            border-top: 2px solid #000000;
            border-right: 2px solid #000000;
        }
        &:last-child:active::after {
            border-top: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
        }
    }
    
    &_wrp {
        &>span:nth-child(2) {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 36px;
        }
        &>span:nth-child(3) {
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 52px;
            margin: 14px 0 0 0;
            display: block;
        }
        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 16px;
            width: 589px;
            margin: 19px 0 52px 0;
        }
        .get_started_btn {

            .dimensions(170px,53px);
            text-decoration: none;
            color: inherit;
            box-shadow: inset 0 -3px 0 #736357;
            border-radius: 3px;
            background-color: #998675;
            // background-color: #111111;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            span {
                font-family: 'Raleway', sans-serif;
                font-weight: 800;                 
                font-size: 14px;               
                text-transform: uppercase;
            }
            &:hover {
                background-color: #111111;
                box-shadow: none;
            }
            &:active {
                background-color: #ffffff;
            }
            &:active span {
                color: #000000;
            }
        }
    }
}

.header_pagination {
    display: flex;
    width: 98px;
    justify-content: space-between;
    margin: 51px auto 42px;
    &_item {
        .dimensions(7px, 7px);
        background-color: #989797;
        border-radius: 50%;
        border: 2px solid transparent;
        &:hover {
            background-color: transparent;
            transform: scale(1.4);
            border: 2px solid #d3c1ad;
        }
        &:focus {
            background-color: transparent;
            transform: scale(1.4);
            border: 2px solid #d3c1ad;
        }
    }
}

.departments {
    max-width: calc(@width_content - 4px);
    margin: @padding_sec auto @padding_sec;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    &_item {
        .dimensions(267px, 213px);
        text-decoration: none;
        &_icon {
            margin: 0 auto 29px auto;
            fill: #555555;;
        }
        &_title {
            display: block;
            color: #555555;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 22px;
            //font-weight: 400;
        }
        &_txt {
            // width: 266px;
            // height: 62px;
            color: #8c8c8c;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 13.5px;
            // font-weight: 300;
            line-height: 24px;
            margin: 19px auto 30px;
        }
        &:after {
            content: "";
            display: block;
            .dimensions(70px, 3px);
            background-color: #f1eee9;
            margin: auto;
        }
        &:hover .departments_item_icon {
            fill: #c7b299;;
        }
        &:hover .departments_item_title {
            color: #c7b299;
        }
        &:hover:after {
            background-color: #c7b299;;
        }
    }
}

.template_examples {
    .dimensions(100%, 700px);
    background-color: #fbfaf8;
    &_wrp {
        max-width: calc(@width_content - 400px);
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    &_title {
        max-width: 100%;
        margin: 79px auto 20px auto;
        color: #555555;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 1.15;
    }
    &_txt {
        color: #8c8c8c;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        margin: 0 0 36px 0;
    }
    &_img:first-of-type {
        .dimensions(770px, 400px);
        position: absolute;
        top: 300px;
        left: -230px;
        z-index: 1;
        &:hover {
            z-index: 3;
        }
    }
    &_img:nth-of-type(2) {
        .dimensions(770px, 482px);
        z-index: 2;
    }
    &_img:last-of-type {
        .dimensions(770px, 400px);
        position: absolute;
        top: 300px;
        left: 230px;
        z-index: 1;
        &:hover {
            z-index: 3;
        }
    }
}

.purchase {
    .dimensions(100%, 150px);
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    display: flex;
    &_wrp {
        width: @width_content;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h2 {
        margin: 0 0 7px 0;
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
        font-weight: 400;
        span:first-child {
            color: #c7b299;
        }
    }
    &_txt {
        margin: 0;
        color: #615855;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 300;
        text-align: start;
    }
    &_btn {
        .dimensions(170px, 50px);    
            text-decoration: none;
            color: inherit;
            box-shadow: inset 0 -3px 0 #736357;
            border-radius: 3px;
            background-color: #998675;
            display: flex;
            align-items: center;
            justify-content: center;
        &:hover {
            background-color: #111111;
            box-shadow: none;
        }
        span {
            color: #ffffff;
            font-family: "Raleway";
            font-size: 14px;
            font-weight: 800;
            line-height: 23px;
            text-transform: uppercase;
        }
        &:focus {
            background-color: #ffffff;
            outline: none;
            box-shadow: none;
            & span {
                color: #000000;
            }
        }
    }
}

.projects {
    width: 100%;
    padding: @padding_sec 0 @padding_sec 0;
    &_title {
    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    }
    &_txt {
        max-width: 770px;
        color: #8c8c8c;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 300;
        line-height: 27px;
        margin: 24px auto 40px auto;

    }
    .features {
        display: flex;
        justify-content: center;
        &_item {
            .dimensions(120px, 32px);
            border-radius: 3px;
            border: 1px solid #ebebeb;
            margin-right: 10px;
            color: #8c8c8c;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            background-color: #ffffff;
            &:first-child {
                width: 70px;
            }
            &:last-child {
                width: 135px;
                margin: 0;
            }
            &:hover {
                background-color: #998675;
                color: #ffffff;
            }
            &:focus {
                outline: none;
                background-color: #111111;
                color: #ffffff;
            }
        }
    }
    &_cards_wrp {
        display: flex;
        flex-wrap: wrap;
        max-width: @width_content;
        margin: 40px auto 40px auto;
    }
    &_card {
        margin: 0 30px 30px 0;
        max-width: 370px;
        position: relative;
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            margin-bottom: 0;
        }
        &:nth-child(3),
        &:nth-child(6) {
            margin-right: 0;
        }
        &_img {
            float: left;
        }
        &_title {
            color: #c7b299;
            font-family: 'Raleway';
            font-size: 20px;
            font-weight: 500;
        }
        &_txt {
            color: #d1d1d1;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            margin: 13px 0 0 0;
        }
        &_btn_link,
        &_btn_search {
            position: absolute;
            width: 26px;
            height: 26px;
            display: none;
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            background-color: transparent;
            top: 45%
        }
        &_btn_link {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M23.499,11.242 L21.573,13.170 L18.386,16.359 C18.233,16.529 18.045,16.683 17.875,16.819 C16.102,18.217 13.750,18.524 11.722,17.724 C10.972,17.433 10.256,16.973 9.643,16.359 L12.284,13.715 C13.239,14.670 14.790,14.670 15.744,13.715 L17.772,11.686 L20.857,8.599 C21.812,7.644 21.812,6.091 20.857,5.137 C19.903,4.182 18.352,4.182 17.397,5.137 L14.943,7.593 C13.409,6.877 11.654,6.757 10.035,7.217 L14.756,2.494 C17.159,0.089 21.096,0.089 23.499,2.494 C25.919,4.915 25.919,8.837 23.499,11.242 ZM14.262,8.293 C15.011,8.582 15.727,9.042 16.341,9.656 L13.699,12.301 C12.745,11.345 11.194,11.345 10.239,12.301 L5.126,17.416 C4.171,18.372 4.171,19.922 5.126,20.878 C6.080,21.834 7.631,21.834 8.586,20.878 L10.938,18.524 C12.949,19.327 13.495,19.394 15.846,18.849 L11.228,23.521 C8.825,25.927 4.887,25.927 2.484,23.521 C0.081,21.117 0.081,17.178 2.484,14.774 L7.597,9.656 C7.665,9.589 7.751,9.503 7.836,9.435 C9.625,7.831 12.131,7.439 14.262,8.293 Z' fill-rule='nonezero' fill='rgb(199, 178, 153)'/%3E%3C/svg%3E");
            left: 35%;
        }
        &_btn_search {
            right: 15%;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M25.456,24.172 C25.135,24.489 24.714,24.646 24.293,24.646 C23.873,24.646 23.451,24.489 23.130,24.172 L18.795,19.901 C16.902,21.348 14.535,22.218 11.959,22.218 C5.793,22.218 0.777,17.276 0.777,11.202 C0.777,5.128 5.793,0.186 11.959,0.186 C18.125,0.186 23.141,5.128 23.141,11.202 C23.141,13.572 22.370,15.764 21.073,17.563 L25.456,21.881 C26.098,22.514 26.098,23.540 25.456,24.172 ZM11.960,2.778 C7.245,2.778 3.409,6.557 3.409,11.202 C3.409,15.847 7.245,19.626 11.960,19.627 C14.064,19.627 15.990,18.871 17.481,17.624 C17.941,17.240 18.355,16.805 18.724,16.336 C19.840,14.913 20.510,13.135 20.510,11.202 C20.510,6.557 16.674,2.778 11.960,2.778 ZM16.810,9.581 C16.625,9.668 16.429,9.711 16.234,9.711 C15.747,9.711 15.280,9.444 15.052,8.983 C14.347,7.559 12.911,6.674 11.304,6.674 C10.578,6.674 9.989,6.094 9.989,5.377 C9.989,4.663 10.578,4.082 11.304,4.082 C13.925,4.082 16.268,5.525 17.417,7.847 C17.735,8.491 17.464,9.267 16.810,9.581 Z' fill-rule='nonezero' fill='rgb(255, 255, 255)'/%3E%3C/svg%3E");

        }
        &:hover .projects_card_btn_link {
            display: block;
        }
        &:hover .projects_card_btn_search {
            display: block;
        }
        &:hover .projects_card_img {
            filter: brightness(30%);
        }
        &:hover .projects_txt_wrp {
            background-color: #362f2d;;
        }
        &:hover .projects_txt_wrp::before {
            border-bottom: 10px solid #362f2d;
        }
        &:hover .projects_card_title {
            color: #ffffff;
        }
        &:hover .projects_card_txt {
            color: #c7b299;
        }
    }
    &_txt_wrp {
        display: flex;
        flex-direction: column;
        min-height: 100px;
        background-color: #fbfaf8;
        justify-content: center;
        align-items: flex-start;
        padding: 0 0 0 28px;
        &:before {
            content: "";
            border: 10px solid transparent;	
            border-bottom: 10px solid #fbfaf8;
            position: absolute;
            top: 217px;
            left: 19px;
        }
    }
}