body {
    width: 1920px;
    min-height: 6970px;
    margin: auto;
}
header {
    background-image: url(../img/header_cover.jpg);
    min-height: 1024px;
    background-size: cover;
}

.banner {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 184px;
    text-decoration: none;
    color: #fff;
}

.waxom {
    font-size: 34px;
    font-family: 'Raleway', sans-serif;;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;
}
.main_menu {
    list-style-type: none;
    display: flex;
}
  